/* REGOLE GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Flexbox */
.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.flex-d-column {
    flex-direction: column;
}
.align-i-center {
    align-items: center;
}
.justify-c-center {
    justify-content: center;
}
.al-jus-center {
    justify-content: center;
    align-items: center;
}
.justify-c-space-between {
    justify-content: space-between;
}
.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}
.gap-40 {
    gap: 40px;
}

/* List */
li {
    list-style: none;
    display: inline-block;
}

/* Position */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

/* Link */
a {
    text-decoration: none;
}

/* Immagini */
img {
    max-width: 100%;
    display: block;
}

/* Font */
.txt-left {
    text-align: left;
}
.font-3em {
    font-size: 3em;
}
.font-1_5em {
    font-size: 1.5em;
}
.font-0_8em {
    font-size: 0.8em;
}
.font-0_7em {
    font-size: 0.7em;
}

/* Display */
.inline-block {
    display: inline-block;
}
.display-none {
    display: none;
}

/* Width */
.w-90 {
    width: 90%;
}
.w-70 {
    width: 70%;
}
.w-30 {
    width: 30%;
}

/* Backgrounds Colors */
.bg-violet {
    background-color: rgb(151, 146, 228);
}
.bg-black {
    background-color: rgb(51, 51, 51);
}
.bg-white {
    background-color: white;
}
.bg-lightblue {
    background-color: rgb(181, 221, 255);
}

/* Colors */
.c-violet {
    color: rgb(151, 146, 228);
}
.c-white {
    color: white;
}
.c-dark-orange {
    color: rgb(253, 193, 95);
}
.c-grey {
    color: rgb(116, 116, 116);
}

/* Button */
.button {
    padding: 10px 45px;
    border-radius: 20px;
    word-spacing: 0.4em;
    letter-spacing: 0.15em;
    font-weight: 600;
    font-size: 0.9em;
}