/* HEADER */
header {
    width: 100vw;
    background-color: rgb(0, 132, 253);
    padding: 10px 20px;
}

/* MAIN - Inizio*/
main section {
    margin: 40px 20px;
}

/* SECTION 1 - Inizio*/
main section#skills > div:first-child {
    width: 100%;
    padding: 30px 20px 0 20px;
}
main section#skills > div:nth-of-type(1n+2) {
    width: 100%;
    padding: 30px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
main section#skills div > h2,
main section#skills div > i {
    color: rgb(0, 132, 253);
}
main section#skills div > i {
    font-size: 100px;
}
main section#skills div > h2 {
    font-size: 1.3rem;
}
main section#skills div > p {
    color: rgb(90, 110, 127);
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.5rem;
}

/* demo application */
main section#skills div > a {
    padding: 10px 40px;
    background-color: rgb(0, 132, 253);
    border-radius: 20px;
    word-spacing: 5px;
    letter-spacing: 0.15rem;
    font-weight: 600;
    font-size: 0.9rem;
}
main section#skills div > img {
    padding-bottom: 0;
}
/* clean code */


/* FOOTER */
footer {
    width: 100%;
    padding: 30px 0;
}
footer > div {
    margin:0 auto;
    width: calc(100% - 40px);
    height: 100px;
}

/* Backgrounds */
.bg-lightgrey {
    background-color: lightgray;
}
.bg-violet {
    background-color: rgb(151, 146, 228);
}
.bg-lightblue {
    background-color: rgb(181, 221, 255);
}
.bg-white {
    background-color: whitesmoke;
}
.bg-black {
    background-color: rgb(51, 51, 51);
}

/* Colors */
.c-white {
    color: white;
}