/* ------ HEADER ------*/
header {
    width: 100vw;
    background-color: rgb(0, 132, 253);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    left: 0;
}

/* ------ MAIN ------*/
main section {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* centratura elementi interni */
main section > div {
    width: 100%;
    padding: 30px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 30px;
}

/* font */
main section div > h3 {
    font-size: 1.3em;
}
main section div h2 {
    font-size: 1.8em;
}
main section div p {
    line-height: 1.5em;
}

/*--- SECTION 1 - Skills ---*/
main section#skills > div:first-child {
    width: 100%;
    padding-bottom: 0;
    text-align: left;
}
main section#skills div > h3,
main section#skills div > i {
    color: rgb(0, 132, 253);
}
main section#skills div > i {
    font-size: 100px;
}
main section#skills div > p {
    color: rgb(90, 110, 127);
    font-size: 0.8em;
    font-weight: 600;
}
/* Demo application - button */
main section#skills div > a {
    background-color: rgb(0, 132, 253);
}

/*--- SECTION 2 - Planning ---*/
main section#planning > div:first-child {
    padding: 0;
    text-align: left;
    color: white;
    font-size: 0.8em;
}
main section#planning div p > i {
    color: rgb(78, 78, 78);
}

/* icona - arrown down */
main section#planning div#arrow-down {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*--- SECTION 3 - Testimonials ---*/
main section#testimonials div > h2 {
    color: rgb(151, 146, 228);
}
main section#testimonials div:nth-of-type(1n+2) {
    color: rgb(249, 249, 254);
}
main section#testimonials div p > i {
    font-size: 24px;
}
main section#testimonials div.testimonial > img {
    margin: 0 auto;
    width: 80%;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}
main section#testimonials div > strong {
    margin-top: 30px;
    display: block;
}

/*--- SECTION 4 - Benefits ---*/
main section#benefits div:first-child {
    padding: 30px 0;
    color: white;
}
main section#benefits div span:first-child {
    font-size: 3em;
    font-weight: 600;
}
main section#benefits div span:nth-child(2) {
    font-size: 1.3em;
    font-weight: 600;
}

/*--- SECTION 5 - About Us---*/
main section#about-us > div {
    padding: 30px 0;
}

/* text */
main section#about-us div > span {
    font-size: 3em;
    font-weight: 600;
}
main section#about-us div > p {
    line-height: 2em;
}

/* card */
main section#about-us div > img {
    width: 70%;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}
main section#about-us div#card-ab-us > p {
    font-size: 1.5em;
    line-height: 1.4em;
    font-weight: 800;
}
main section#about-us #card-ab-us div > i.fa-quote-left {
    top: 0;
    right: 70px;
    font-size: 70px;
}
main section#about-us #card-ab-us div > a {
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 0.9em;
} 
main section#about-us #card-ab-us div a > i {
    margin-right: 7px;
}

/*--- SECTION 6 - Get Started ---*/
main section#get-started > div {
    padding: 30px 0;
}
main section#get-started div.c-white > span:first-child {
    color: rgb(206, 205, 242);
}
main section#get-started div.c-white > p {
    line-height: 2em;
}

/* button-started */
main section#get-started div.c-white div#button-started{
    margin: 20px 0;
}
main section#get-started div.c-white div#button-started > a {
    background-color: white;
    padding: 20px 70px;
    border-radius: 40px;
}

/* info-azienda */
main section#get-started div#info-azienda {
    font-size: 0.75em;
}
main section#get-started div#info-azienda > a {
    text-decoration: underline;
}

/*------ FOOTER ------*/
footer {
    width: 100%;
    padding: 30px 0;
}
footer > div {
    margin:0 auto;
    width: calc(100% - 40px);
    text-align: center;
}
footer > div:last-child {
    width: calc(100% - 50px);
}
footer div > p {
    line-height: 1.4em;
}
footer div > a {
    text-decoration: underline;
}

/* ----- RESPONSIVE TABLET ----- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
    /* MAIN */
    main section {
        padding: 40px 30px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px 0;
    }
    main section div h2 {
        font-size: 2.2em;
    }

    /* skills */
    main section#skills > div {
        width: calc((100% / 3) - 20px);
    }
    main section#skills > div:first-child {
        width: calc(((100% / 3) - 5px) * 2 );
    }
    main section#skills div > img {
        max-width: 50%;
    }
    
    /* planning */
    main section#planning div > h2 {
        font-size: 5em;
    }

    /* testimonials */
    main section#testimonials > div:nth-of-type(1n+2) {
        flex-direction: row;
        text-align: left;
    }

    /* benefits */
    main section#benefits div:nth-of-type(1n+2) {
        width: calc((100% / 2) - 15px);
    }

    /* about us */
    main section#about-us div#txt-ab-us {
        width: 55%;
    }
    main section#about-us div#card-ab-us {
        width: 35%;
    }

    /* get started */
    main section#get-started div > .font-2_5em-tablet{
        font-size: 2.5em;
    }
    main section#get-started div > .font-5em-tablet {
        font-size: 5em;
    }
    main section#get-started div > p {
        line-height: 2em;
        padding: 0 150px;
    }

    /* FOOTER */
    footer > div {
        width: 45%;
    }
}

/* ----- RESPONSIVE DESKTOP ----- */
@media only screen and (min-width: 1024px) {

}